@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Anuphan", sans-serif;
  border: 0;
  padding: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}

div {
  font-family: "Darker Grotesque", sans-serif;
}

div .library-card {
  text-align: center;
  font-size: 1rem;
  font-family: "Anuphan", sans-serif;
  height: 300px;
  border-radius: 40px;
  margin: 1rem;
  background-color: #0074d9;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#add-entry {
  margin-right: 1rem;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #4a90e2;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s ease;
}

#add-entry:hover {
  transform: rotate(360deg);
}

.hidden {
  display: none;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

button[type="submit"] {
  justify-self: center;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #0074d9;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}

button[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #90cdf4;
}

button[type="submit"]:active {
  background-color: #0062cc;
  transform: translateY(1px);
}
