@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Anuphan", sans-serif;
  border: 0;
  padding: 0;
}

div {
  font-family: "Darker Grotesque", sans-serif;
  border: 1px solid black;
  height: 500px;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #4a90e2;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  transform: rotate(180deg);
}
