@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Anuphan", sans-serif;
  border: 0;
  padding: 0;
}

html {
  background-color: #f7f5cf;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}

div {
  font-family: "Darker Grotesque", sans-serif;
}

div .library-card {
  text-align: center;
  font-size: 1rem;
  font-family: "Anuphan", sans-serif;
  height: 300px;
  border-radius: 40px;
  margin: 1rem;
  background-color: #ffca50;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#add-entry {
  margin-right: 1rem;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #4a90e2;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

#add-entry:hover {
  transform: rotate(360deg);
}

h1 {
  text-decoration: underline;
}

.hidden {
  display: none;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

button[type="submit"] {
  justify-self: center;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #19a92a;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2b5715;
}

button[type="submit"]:focus {
  outline: none;
}

button[type="submit"]:active {
  background-color: #2b5715;
  transform: translateY(1px);
}

button {
  background-color: #19a92a;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #2b5715;
}

button:active {
  background-color: #1e5111;
}

button:focus {
  outline: none;
  border: 2px solid #1e5111;
}
